<div id="ChartSeven" style="min-width: 350px; height: 350px; max-width: 600px; margin: 0 auto"></div>
<script type="text/javascript">

        $(function () {
            $.ajax({
                url: 'Insights/ChartByModulesCompletesTwo',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                async: false,
                processData: false,
                cache: false,
                delay: 15,
                success: function (data) {
                     //alert(data);
                    var series = new Array();
                    for (var i in data) {
                        var serie = new Array(data[i].Value, data[i].Item);
                        series.push(serie);
                    }
                    //alert(series);
                    DrawPieChartSeven(series);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
        function DrawPieChartSeven(series) {
            $('#ChartSeven').highcharts({

                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: 1, //null,
                    plotShadow: false,
                    type: 'pie'

                },
                title: {
                    text: ' Porcentaje de módulos completados  <a href="ChartListado/app_user_porcentaje2" target="_blank" style="font-size:12px; color:blue;">Descarga CSV</a>'
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '{point.y}'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y}'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Task Status',
                    data: series
                }]
            });
        }
</script>




